<?xml version='1.0' encoding='utf-8'?>
<widget id="com.khmerlife" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>KhmerLife</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="https://khmerlife.com/?utm_source=superpwa" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon density="xxxhdpi" src="/wp-content/uploads/2019/01/kl-logo-app-icon.png" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="false" />
    <allow-navigation hap-rule="yes" href="https://khmerlife.com/*" />
    <platform name="windows">
    </platform>
    <platform name="wp8">
    </platform>
</widget>
